*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:where([hidden]:not([hidden='until-found'])) {
    display: none !important;
}
:where(html) {
    -webkit-text-size-adjust: none;
    color-scheme: dark light;
}
@supports not (min-block-size: 100dvb) {
    :where(html) {
        block-size: 100%;
    }
}
@media (prefers-reduced-motion: no-preference) {
    :where(html:focus-within) {
        scroll-behavior: smooth;
    }
}
:where(body) {
    block-size: 100%;
    block-size: 100dvb;
    line-height: 1.5;
    font-family: system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
}
:where(input, button, textarea, select) {
    font: inherit;
    color: inherit;
}
:where(textarea) {
    resize: vertical;
    resize: block;
}
:where(button, label, select, summary, [role='button'], [role='option']) {
    cursor: pointer;
}
:where(:disabled) {
    cursor: not-allowed;
}
:where(label:has(>input:disabled), label:has(+input:disabled)) {
    cursor: not-allowed;
}
:where(button) {
    border-style: solid;
}
:where(a) {
    text-underline-offset: .2ex;
}
:where(ul, ol) {
    list-style: none;
}
:where(img, svg, video, canvas, audio, iframe, embed, object) {
    display: block;
}
:where(img, picture, svg) {
    max-inline-size: 100%;
    block-size: auto;
}
:where(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word;
}
:where(h1, h2, h3) {
    line-height: calc(1em + 0.5rem);
}
:where(hr) {
    border: none;
    border-block-start: 1px solid;
    color: inherit;
    block-size: 0;
    overflow: visible;
}
:where(:focus-visible) {
    outline: 2px solid var(--focus-color, Highlight);
    outline-offset: 2px;
}
:where(.visually-hidden:not(:focus,:active,:focus-within,.not-visually-hidden)) {
    clip-path: inset(50%)!important;
    height: 1px!important;
    width: 1px!important;
    overflow: hidden!important;
    position: absolute!important;
    white-space: nowrap!important;
    border: 0!important;
}
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
canvas {
    display: block;
}
#setupScreen, #arScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
#modelContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
model-viewer {
    width: 300px;
    height: 300px;
    margin: 10px;
}
#startARButton, #addModelButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
#switch-camera, #take-screenshot {
    position: absolute;
    bottom: 10px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 24px;
    cursor: pointer;
}
#switch-camera {
    right: 10px;
}
#take-screenshot {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    left: calc(50% - 32px);
}
.user-guide {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}
.user-guide p {
    margin: 0;
    font-size: 14px;
    color: #333;
}
