body {
    background-color: #836EF9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    width: 100%;
    text-align: center;
}

model-viewer {
    width: 100%;
    height: calc(100vh - 50px); /* Header height consideration */
}
